body{
    margin:0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    max-width: 100vw;
  }
  img{
    border-radius: 5px;
  }
  .container{
    max-width: 1120px;
    margin: auto;
  }
  header{
    background: #1664C0;
    padding: 23px 0 2.5rem;
  }
  .basket{
    display: flex;
    align-items: center;
    color: white;
    position: relative;
  }
  .backet--count{
    border-radius: 50%;
    padding: .2rem .4rem;
    position: absolute;
    top: -7px;
    right: -7px;
    background: #FF1844;
    font-size: .7rem;
  }
  .basket svg{
    border-radius: 50%;
    background: white;
    padding: .3rem;
    color: #1664C0;
    margin-left: .5rem;
  }
  .splide__slide {
    margin: 0 5px;
    position: relative;
  }
  .splide__arrows {
    position: absolute;
    top: 50%;
    left: calc(50vw - 632px);
    width: 1270px;
    display: flex;
    justify-content: space-between;
    z-index:10;
  }
  .splide__arrow {
    position: relative;
    background: black;
    height: 100px;
    width: 50px;
    border-radius: 5px;
    fill: white;
  }
  .splide__slide{
      opacity: .5;
  } 
  .splide__pagination{
    bottom: -1.7rem;
  }
  .is-visible{
      opacity: 1;
  }
  .is-ready{
      opacity: 1;
  }
  .navbar{
    margin: 0;
    padding: 12px 0;
    width: 100%;
    position: sticky;
    top:0;
    z-index: 100;
    background: #1664C0;
  }
  .navbar__body{
    margin: auto;
    width: 1120px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }
  .searchbox{
    background: #4384CB;
    height: 45px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
  }
  .searchbox input{
    background: none;
    border: none;
    width: 70px;
    outline: none;
  }
  .searchbox input::placeholder{
    color: white;
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
  }
  .card{
    height: 420px;
    width: 222px;
    border: solid 1px #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .related__header, .bestseller__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
  }
  .bestseller{
    position: relative;
  }
  .bestseller__slider{
    display: flex;
    overflow: hidden;
  }
  #prev, #next{
    position: absolute;
    height: 100px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  #prev{
    top: 50%;
    left: -64px;
  }
  #next{
    top: 50%;
    right: -64px;
  }
  .sTitle, .sTitle a{
      display: flex; 
      align-items: center;
      color: #1664C0;
      text-decoration: none;
      text-transform: uppercase;
    }
    .footer__body{
      margin: 4.5rem auto;
      width: 820px;
      display: flex;
      justify-content: space-between;
      font-size: .85rem;
      color: #9E9E9E;
    }
    .footer__body h4{
      font-weight: 900;
      text-transform: uppercase;
      margin: 3px 0;
    }
    .footer__body ul{
      text-transform: capitalize;
      list-style: none;
      padding: 0;
    }
    .footer__body li{
      padding: 7.5px 0;
    }
    .col-2{
      flex: 2;
      padding-right: 2.5rem;
    }
    .col-1{
      flex: 1;
    }
    .col__body{
      display: flex;
      justify-content: space-between;
    }
    .footer__end{
      color: #9E9E9E;
      font-size: .85rem;
      padding-bottom: 4rem;
      display: flex;
      justify-content: space-between;
    }